.music-list {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    justify-content: center;
    align-items: center;
    margin: 1rem auto;
    width: 90vw;
    gap: 1rem;
}

.music-list__item {
    border: solid black 2px;
    padding: 0.2rem 0.4rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 20vw;
    margin: auto;
}

